@{
    ViewData["Title"] = "PNS";
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<h1>PNS</h1>
<div>
    <form method="post"  class = "w3-padding">
        <table class = "w3-table" id = "PNS">
            <tr>
                <th>STT</th>
                <th>Sach</th>
                <th>The Loai</th>
                <th>Tac Gia</th>
                <th>So Luong</th>
            </tr>
            <tr>

            </tr>

        </table>
        <button id = "Done" class = "w3-button w3-blue"> Done</button>
        <p1> This is a form</p1>
    </form>
</div>
</body>

<script>

</script>